<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="PrimeProd" value="I:\tpapps\PrimeNuGet\Prod" />
    <add key="PrimeEng" value="I:\tpapps\PrimeNuGet\Engineering" />
    <add key="PrimeLegacy" value="\\amr.corp.intel.com\ec\proj\mpe\MIT_ATE_TM\NuGets" />
    <add key="PrimeTraceId" value="\\amr.corp.intel.com\ec\proj\MDO\Global\MIG\TRACE\Nuget\Prod" />
    <add key="Flame" value="https://pkgs.dev.azure.com/mit-us/_packaging/FlameVirtualFuseLibraries/nuget/v3/index.json" />
    <add key="MPE_MIT" value="\\amr.corp.intel.com\ec\proj\MDO\Global\MIG\MIT" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value=".\temp\packages" />
  </config>
  <packageSourceMapping>
    <packageSource key="PrimeProd">
      <package pattern="*" />
    </packageSource>
    <packageSource key="PrimeEng">
      <package pattern="*" />
    </packageSource>
    <packageSource key="PrimeLegacy">
      <package pattern="*" />
    </packageSource>
    <packageSource key="PrimeTraceId">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Flame">
      <package pattern="*" />
    </packageSource>
    <packageSource key="MPE_MIT">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>